<!-- <div class="container">
  <h1 class="text-center">Lista de Tareas</h1>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form (ngSubmit)="addTask()">
        <div class="form-group">
          <input type="text" [(ngModel)]="taskName" name="taskName" class="form-control" placeholder="Nueva Tarea">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Agregar Tarea</button>
      </form>
      <br>
      <ul class="list-group">
        <li *ngFor="let task of tasks; let i = index" class="list-group-item">
          {{ task }}
          <button class="btn btn-danger btn-sm float-right" (click)="deleteTask(i)">Eliminar</button>
          <button class="btn btn-primary btn-sm float-right mr-2" (click)="updateTask(i)">Modificar</button>
        </li>
      </ul>
    </div>
  </div>
</div> -->


<div class="container">
  <h1>Lista de tareas</h1>
  <div class="row">
    <div class="col-sm-6">
      <form>
        <div class="form-group">
          <label for="newTask">Agregar nueva tarea:</label>
          <input type="text" class="form-control" id="newTask" [(ngModel)]="newTask" name="taskInput">
        </div>
        <button class="btn btn-primary" (click)="addTask()">Agregar</button>
      </form>
    </div>
    <div class="col-sm-6">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Tarea</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks">
            <td>{{ task }}</td>
            <td>
              <button class="btn btn-danger" (click)="removeTask(task)">Eliminar</button>
              <button class="btn btn-warning" (click)="editTask(task)">Editar</button>              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="editTaskData">
    <div class="container my-5">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card bg-success text-white shadow-lg">
            <div class="card-body">
              <h3 class="card-title">Editar tarea</h3>
              <input type="text" [(ngModel)]="newTask">
              <button class="btn btn-primary"  (click)="updateTask()">Guardar</button>
              <button class="btn btn-danger"  (click)="cancelEditTask()">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container">
    <div *ngIf="editTaskData">
      <h3>Editar tarea.</h3>
      <input type="text" [(ngModel)]="newTask">
      <button class="btn btn-primary"  (click)="updateTask()">Guardar</button>
      <button class="btn btn-danger"  (click)="cancelEditTask()">Cancelar</button>
    </div>
  </div> -->
</div>


